:root {
  --darkbackground: #271b45;
  --turquoise: #1cc5bc;
  --cyan: #15c2cd;
  --gradient1A:#29EDC6;
  --gradient1B: #0696D2;
}

*{
  margin: 0;
}

body{
  background-color: var(--darkbackground);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent {
  background: none;
  border:none
}

.text-dark{
  color:black;
}

.text-white{
  color: white;
}

.errorMessage {
  color: #474f4f;
  background-color: #9fd3d6;
  padding: 5px 20px;
  border-radius: 5px;
}

.MuiButton-root {
  background: rgb(41,237,198);
  background: linear-gradient(90deg, rgba(41,237,198,1) 0%, rgba(6,150,210,1) 86%);
  color:white;
  font-weight: 600;
}

.MuiOutlinedInput-input{
  background-color: white;
  border-radius: 5px;
  color:white
}

.MuiButton-outlinedPrimary {
  color:white;
}

.form-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10 auto;
}

.form-center input {
  background-color: white;
  color: black;
}

.container {
  width: 500px;
}

.MuiFormControl-root{
  margin: 5px;
}

.input-grey {
  color:grey;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.text-left{
  text-align: left;
}

.card-image {
  height: 200px
}

.control-btns {
  display: flex;
  flex-direction: column;
}

.profile-pic{
  width: 200px;
  height:200px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}

.my-icon{
  margin: 10px;
}

.text-card {
  margin: 10px;
}

.my-link:hover {
  color: var(--turquoise);
}

.my-link {
  color: var(--darkbackground);
}

.group-btn{
  margin: 20px auto 20px auto;
}

.card-board{
  margin-bottom:15px;
}

.post-container{
  display:flex;
}

.post-text {
  margin-left: 15px;
}

.my-card{
  padding: 10px;
  display: flex;
}

.header{
  margin: 20px auto 20px auto;
}

.my-footer {
  text-align: center;
  margin: 20px;
  font-size: 14px;
}

.my-footer a {
  color: white;
}

.my-nav{
  margin: 0;
  position: fixed;
  bottom: 0px;
}

.my-inputfield{
  width: 500px;
  margin-bottom: 20px;
}

.my-btn{
  width: 100%;
}


@media (max-width: 500px){
  .container {
    width: 350px;
    margin: 15px 5px 15px 5px;
  }
  .my-inputfield{
    width: 100%;
  }

  .profile-pic{
    width: 100px;
    height:100px;
  }
  .my-nav{
    width: 350px;
  }
  .text-card{
    font-size: 14px;
    max-width: 200px;
    padding: 5px;
  }

  .form-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
