:root {
  --darkbackground: #271b45;
  --turquoise: #1cc5bc;
  --cyan: #15c2cd;
  --gradient1A: #29edc6;
  --gradient1B: #0696d2;
}

* {
  margin: 0;
}

body {
  background-color: var(--darkbackground);
  color: white;
  /* display: flex;
  justify-content: center; */
  margin: 0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparent {
  background: none;
  border: none;
}

.text-dark {
  color: black;
}

.text-white {
  color: white;
}

.errorMessage {
  color: #99361e;
  background-color: #e0aa84;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 5px;
}

.MuiButton-root {
  background: rgb(41, 237, 198);
  background: linear-gradient(
    90deg,
    rgba(41, 237, 198, 1) 0%,
    rgba(6, 150, 210, 1) 86%
  );
  color: white;
  font-weight: 600;
}

.MuiOutlinedInput-input {
  background-color: white;
  border-radius: 5px;
  color: white;
}

.MuiButton-outlinedPrimary {
  color: white;
}

.form-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10 auto;
}

.form-center input {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 4vh;
}

.MuiFormControl-root {
  margin: 5px;
}

.time-field {
  display: flex;
  align-items: center;
}

.time-field p,
.my-select {
  margin-right: 5px;
}

.my-select {
  background-color: white;
}

.input-grey {
  color: grey;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.card-image {
  height: 200px;
}

.control-btns {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}

.navBar-pic {
  width: 40px;
  height: 40px;
  border: 3px solid var(--darkbackground);
  margin: 5px
}

.my-icon {
  margin: 10px;
}

.text-card {
  margin: 10px;
}

.my-link:hover {
  color: var(--turquoise);
}

.my-link {
  color: var(--darkbackground);
}

.group-btn {
  margin: 20px auto 20px auto;
}

.card-board {
  margin-bottom: 15px;
}

.post-container {
  display: flex;
}

.post-text {
  margin-left: 15px;
}

.my-card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.header {
  margin: 20px auto 20px auto;
}

.my-footer {
  text-align: center;
  margin: 20px;
  font-size: 14px;
}

.my-footer a {
  color: white;
}

.my-nav {
  bottom: 0px;
  position: fixed;
  width: 100%;
  border: 2px solid var(--darkbackground);
}

/* .my-nav a {
  margin: 10px 50px;
  justify-content: center;
} */

.my-inputfield {
  margin-bottom: 20px;
}

.link-underline {
  text-decoration: none;
}

.my-btn {
  width: 100%;
  margin-top: 20px;
}

.MuiBottomNavigation-root{
  justify-content: space-between;
}
.fake-code {
  border: 1px solid white;
  font-family: monospace;
  border-radius: 5px;
  padding: 10px;
  line-height: 4vh;
  margin-top: 30px;
  text-align: center;
}

.myError-img {
  width: 70%;
  max-width: 600px;
  align-items: center;
}

.big-title{
  font-size: 10em;
}

.logo{
  width: 50px;
  margin: 20px
}

.team {
  display: flex;
  justify-content: space-between;
}

.team-card{
  width: 400px;
  padding: 20px;
}

.form-center select {
  background-color: white;
}

@media (max-width: 500px) {
  .container {
    margin: 20px;
  }
  .my-inputfield {
    width: 100%;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .navBar-pic { 
    width: 40px;
    height: 40px;
    border: 3px solid var(--darkbackground);
    margin: 5px;
  }

  .text-card {
    font-size: 14px;
    max-width: 200px;
    padding: 5px;
  }

  .form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .fake-code{
    width: 80%;
  }

  .team{
    flex-direction: column;
  }

  .team-card{
    width: 90%;
  }

  .my-card-content{
    width: 60% ;
  }

}
